body{
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #F4F4F4;
}
.menu{
    color: #F4F4F4;
    width: 20vw;
    height: 100vh;
    text-align: center;
    background: #040B15;
    border-radius: 0% 10% 10% 0% / 25% 11% 11% 25%;
}/*
.profile{

}*/
.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 5px solid #3b3434;
    margin-top: 10px;
}
.redes-sociais button{
    padding: 7px;
    background: #3b3434;
    border-radius: 30px;
    border: none;
}
.redes-sociais button:hover{
    background: #464FF6;
}
.menu-itens{
    display: grid;
    margin-top: 30px;
}
.menu-itens a{
    text-decoration: none;
    color: #F4F4F4;
    margin-top: 10px;
    cursor: pointer;
}
.rodape{
    position: absolute;
    bottom: 0;
    margin-left: 50px;
}
.conteudo{
    background: #F4F4F4;
    color: #040B15;
    width: 80vw;
    height: 100vh;
    box-sizing: border-box;
    
}
.conteudo-pc{
    margin-top: 80px;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    /*align-items: center; */
}
.conteudo-pc img{
    width: 600px;
}
.conteudo-tablet{
    display: flex;
    justify-content: center;
    margin: -300px 500px 0 0;
}
.conteudo-tablet img{
    width: 250px;
}
.conteudo-mobile{
    display: flex;
    justify-content: center;
    margin: -300px 800px;
}
.conteudo-mobile img{
    width: 150px;
}
.contact{
    background: #F4F4F4;
    margin: 37px -140px;
    width: 130px;
    height: 225.5px;
    flex-direction: row;
    text-align: center;
}
.contact-profile{
    width: 130px;
    height: 110px;
    background: #4698f6;
    color: #F4F4F4;
}
.contact-profile img{
    margin: 0 50px;
    width: 40px;
    display: flex;
    border-radius: 75px;
}

.contact-profile span{
    font-size: 10px;
    text-align: center;
}
.contact-redes{
    width: 130px;
    height: 115.5px;
    align-items: baseline;
}
.contact-redes img{
    width: 15px;
}
.contact-redes li{
    margin: 0 0 0 -25px;
    list-style: none;
}
.conteudo-mobile:hover{
    scale: 1.2;
}

/*
// Dispositivos small (telefones em modo paisagem, com 576px ou mais)
@media (min-width: 576px) { ... }

// Dispositivos médios (tablets com 768px ou mais)
@media (min-width: 768px) { ... }

// Dispositivos large (desktops com 992px ou mais)
@media (min-width: 992px) { ... }

// Dispositivos extra large (desktops grandes com 1200px ou mais)
@media (min-width: 1200px) { ... }
*/